.themes {
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translatex(-50%) translateY(100%);
    animation: scroll 10s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

.info {
    position: fixed;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translatex(-50%) translateY(-50%);

    text-align: center;

    animation: disappear 4s forwards;
}

@keyframes scroll {
    from {
        transform: translatex(-50%) translateY(100%);
    }

    to {
        transform: translatex(-50%) translateY(-100%);
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
